template(id="location-template")
  div(id="location-info")
    h2
      span(id="text-to-speech-link")
        a(href="#") Play Me
    h3
      span(id="location-name") Name
    div Phone:&nbsp;
        span(id="location-phone")
    div Email:&nbsp;
        span(id="location-email")

    div(id="weather-info")
      div
        h4 Weather:
        div
          span(id="current-summary") Summary
        div Current Temperature:&nbsp;
          span(id="current-temperature") Current Temperature
        div(id="forecast") Forecast:&nbsp;
