script(src="/scripts/vendor/jquery/jquery-2.1.4.min.js")
script(src="/scripts/vendor/af/af.shim.js")
script(src="/scripts/vendor/af/af.ui.js")
script(src="/scripts/vendor/af/af.animation.js")
script(src="/scripts/vendor/leaflet.js")
script(src="/scripts/app/lib/geolocation.js")
script(src="/scripts/app/models/coordinates.js")
script(src="/scripts/app/models/facility.js")
script(src="/scripts/app/models/recreationalArea.js")
script(src="/scripts/app/models/weather.js")
script(src="/scripts/app/controllers/authentication.js")
script(src="/scripts/app/controllers/ridb.js")
script(src="/scripts/app/controllers/weather.js")
script(src="/scripts/app/views/locationMap.js")
script(src="/scripts/app/app.js")
